
client/node_modules/.cache


Udemy---Omnifood-Project
server/node_modules/yallist/yallist.js
server/node_modules/yallist/README.md
server/node_modules/yallist/package.json
server/node_modules/yallist/LICENSE
server/node_modules/yallist/iterator.js
server/node_modules/xtend/test.js
server/node_modules/xtend/README.md
server/node_modules/xtend/package.json
server/node_modules/xtend/mutable.js
server/node_modules/xtend/LICENSE
server/node_modules/xtend/immutable.js
server/node_modules/xtend/.jshintrc
server/node_modules/vary/README.md
server/node_modules/vary/package.json
server/node_modules/vary/LICENSE
server/node_modules/vary/index.js
server/node_modules/vary/HISTORY.md
server/node_modules/utils-merge/README.md
server/node_modules/utils-merge/package.json
server/node_modules/utils-merge/LICENSE
server/node_modules/utils-merge/index.js
server/node_modules/utils-merge/.npmignore
server/node_modules/unpipe/README.md
server/node_modules/unpipe/package.json
server/node_modules/unpipe/LICENSE
server/node_modules/unpipe/index.js
server/node_modules/unpipe/HISTORY.md
server/node_modules/undefsafe/README.md
server/node_modules/undefsafe/package.json
server/node_modules/undefsafe/LICENSE
server/node_modules/undefsafe/lib/undefsafe.js
server/node_modules/undefsafe/example.js
server/node_modules/undefsafe/.travis.yml
server/node_modules/undefsafe/.jshintrc
server/node_modules/undefsafe/.jscsrc
server/node_modules/undefsafe/.github/workflows/release.yml
server/node_modules/type-is/README.md
server/node_modules/type-is/package.json
server/node_modules/type-is/LICENSE
server/node_modules/type-is/index.js
server/node_modules/type-is/HISTORY.md
server/node_modules/touch/README.md
server/node_modules/touch/package.json
server/node_modules/touch/LICENSE
server/node_modules/touch/index.js
server/node_modules/touch/bin/nodetouch.js
server/node_modules/toidentifier/README.md
server/node_modules/toidentifier/package.json
server/node_modules/toidentifier/LICENSE
server/node_modules/toidentifier/index.js
server/node_modules/toidentifier/HISTORY.md
server/node_modules/to-regex-range/README.md
server/node_modules/to-regex-range/package.json
server/node_modules/to-regex-range/LICENSE
server/node_modules/to-regex-range/index.js
server/node_modules/supports-color/readme.md
server/node_modules/supports-color/package.json
server/node_modules/supports-color/license
server/node_modules/supports-color/index.js
server/node_modules/supports-color/browser.js
server/node_modules/statuses/README.md
server/node_modules/statuses/package.json
server/node_modules/statuses/LICENSE
server/node_modules/statuses/index.js
server/node_modules/statuses/HISTORY.md
server/node_modules/statuses/codes.json
server/node_modules/split2/test.js
server/node_modules/split2/README.md
server/node_modules/split2/package.json
server/node_modules/split2/LICENSE
server/node_modules/split2/index.js
server/node_modules/split2/bench.js
server/node_modules/simple-update-notifier/src/types.ts
server/node_modules/simple-update-notifier/src/isNpmOrYarn.ts
server/node_modules/simple-update-notifier/src/index.ts
server/node_modules/simple-update-notifier/src/index.spec.ts
server/node_modules/simple-update-notifier/src/hasNewVersion.ts
server/node_modules/simple-update-notifier/src/hasNewVersion.spec.ts
server/node_modules/simple-update-notifier/src/getDistVersion.ts
server/node_modules/simple-update-notifier/src/getDistVersion.spec.ts
server/node_modules/simple-update-notifier/src/cache.ts
server/node_modules/simple-update-notifier/src/cache.spec.ts
server/node_modules/simple-update-notifier/src/borderedText.ts
server/node_modules/simple-update-notifier/README.md
server/node_modules/simple-update-notifier/package.json
server/node_modules/simple-update-notifier/node_modules/semver/README.md
server/node_modules/simple-update-notifier/node_modules/semver/ranges/valid.js
server/node_modules/simple-update-notifier/node_modules/semver/ranges/to-comparators.js
server/node_modules/simple-update-notifier/node_modules/semver/ranges/outside.js
server/node_modules/simple-update-notifier/node_modules/semver/ranges/min-version.js
server/node_modules/simple-update-notifier/node_modules/semver/ranges/min-satisfying.js
server/node_modules/simple-update-notifier/node_modules/semver/ranges/max-satisfying.js
server/node_modules/simple-update-notifier/node_modules/semver/ranges/ltr.js
server/node_modules/simple-update-notifier/node_modules/semver/ranges/intersects.js
server/node_modules/simple-update-notifier/node_modules/semver/ranges/gtr.js
server/node_modules/simple-update-notifier/node_modules/semver/range.bnf
server/node_modules/simple-update-notifier/node_modules/semver/package.json
server/node_modules/simple-update-notifier/node_modules/semver/LICENSE
server/node_modules/simple-update-notifier/node_modules/semver/internal/re.js
server/node_modules/simple-update-notifier/node_modules/semver/internal/identifiers.js
server/node_modules/simple-update-notifier/node_modules/semver/internal/debug.js
server/node_modules/simple-update-notifier/node_modules/semver/internal/constants.js
server/node_modules/simple-update-notifier/node_modules/semver/index.js
server/node_modules/simple-update-notifier/node_modules/semver/functions/valid.js
server/node_modules/simple-update-notifier/node_modules/semver/functions/sort.js
server/node_modules/simple-update-notifier/node_modules/semver/functions/satisfies.js
server/node_modules/simple-update-notifier/node_modules/semver/functions/rsort.js
server/node_modules/simple-update-notifier/node_modules/semver/functions/rcompare.js
server/node_modules/simple-update-notifier/node_modules/semver/functions/prerelease.js
server/node_modules/simple-update-notifier/node_modules/semver/functions/patch.js
server/node_modules/simple-update-notifier/node_modules/semver/functions/parse.js
server/node_modules/simple-update-notifier/node_modules/semver/functions/neq.js
server/node_modules/simple-update-notifier/node_modules/semver/functions/minor.js
server/node_modules/simple-update-notifier/node_modules/semver/functions/major.js
server/node_modules/simple-update-notifier/node_modules/semver/functions/lte.js
server/node_modules/simple-update-notifier/node_modules/semver/functions/lt.js
server/node_modules/simple-update-notifier/node_modules/semver/functions/inc.js
server/node_modules/simple-update-notifier/node_modules/semver/functions/gte.js
server/node_modules/simple-update-notifier/node_modules/semver/functions/gt.js
server/node_modules/simple-update-notifier/node_modules/semver/functions/eq.js
server/node_modules/simple-update-notifier/node_modules/semver/functions/diff.js
server/node_modules/simple-update-notifier/node_modules/semver/functions/compare.js
server/node_modules/simple-update-notifier/node_modules/semver/functions/compare-loose.js
server/node_modules/simple-update-notifier/node_modules/semver/functions/compare-build.js
server/node_modules/simple-update-notifier/node_modules/semver/functions/coerce.js
server/node_modules/simple-update-notifier/node_modules/semver/functions/cmp.js
server/node_modules/simple-update-notifier/node_modules/semver/functions/clean.js
server/node_modules/simple-update-notifier/node_modules/semver/classes/semver.js
server/node_modules/simple-update-notifier/node_modules/semver/classes/range.js
server/node_modules/simple-update-notifier/node_modules/semver/classes/index.js
server/node_modules/simple-update-notifier/node_modules/semver/classes/comparator.js
server/node_modules/simple-update-notifier/node_modules/semver/CHANGELOG.md
server/node_modules/simple-update-notifier/node_modules/semver/bin/semver.js
server/node_modules/simple-update-notifier/node_modules/.bin/semver.ps1
server/node_modules/simple-update-notifier/node_modules/.bin/semver.cmd
server/node_modules/simple-update-notifier/node_modules/.bin/semver
server/node_modules/simple-update-notifier/LICENSE
server/node_modules/simple-update-notifier/build/index.js
server/node_modules/simple-update-notifier/build/index.d.ts
server/node_modules/side-channel/test/index.js
server/node_modules/side-channel/README.md
server/node_modules/side-channel/package.json
server/node_modules/side-channel/LICENSE
server/node_modules/side-channel/index.js
server/node_modules/side-channel/CHANGELOG.md
server/node_modules/side-channel/.nycrc
server/node_modules/side-channel/.github/FUNDING.yml
server/node_modules/side-channel/.eslintrc
server/node_modules/side-channel/.eslintignore
server/node_modules/setprototypeof/test/index.js
server/node_modules/setprototypeof/README.md
server/node_modules/setprototypeof/package.json
server/node_modules/setprototypeof/LICENSE
server/node_modules/setprototypeof/index.js
server/node_modules/setprototypeof/index.d.ts
server/node_modules/serve-static/README.md
server/node_modules/serve-static/package.json
server/node_modules/serve-static/LICENSE
server/node_modules/serve-static/index.js
server/node_modules/serve-static/HISTORY.md
server/node_modules/send/SECURITY.md
server/node_modules/send/README.md
server/node_modules/send/package.json
server/node_modules/send/node_modules/ms/readme.md
server/node_modules/send/node_modules/ms/package.json
server/node_modules/send/node_modules/ms/license.md
server/node_modules/send/node_modules/ms/index.js
server/node_modules/send/LICENSE
server/node_modules/send/index.js
server/node_modules/send/HISTORY.md
server/node_modules/semver/semver.js
server/node_modules/semver/README.md
server/node_modules/semver/range.bnf
server/node_modules/semver/package.json
server/node_modules/semver/LICENSE
server/node_modules/semver/CHANGELOG.md
server/node_modules/semver/bin/semver
server/node_modules/scheduler/unstable_post_task.js
server/node_modules/scheduler/unstable_mock.js
server/node_modules/scheduler/umd/scheduler.profiling.min.js
server/node_modules/scheduler/umd/scheduler.production.min.js
server/node_modules/scheduler/umd/scheduler.development.js
server/node_modules/scheduler/umd/scheduler-unstable_mock.production.min.js
server/node_modules/scheduler/umd/scheduler-unstable_mock.development.js
server/node_modules/scheduler/README.md
server/node_modules/scheduler/package.json
server/node_modules/scheduler/LICENSE
server/node_modules/scheduler/index.js
server/node_modules/scheduler/cjs/scheduler.production.min.js
server/node_modules/scheduler/cjs/scheduler.development.js
server/node_modules/scheduler/cjs/scheduler-unstable_post_task.production.min.js
server/node_modules/scheduler/cjs/scheduler-unstable_post_task.development.js
server/node_modules/scheduler/cjs/scheduler-unstable_mock.production.min.js
server/node_modules/scheduler/cjs/scheduler-unstable_mock.development.js
server/node_modules/safer-buffer/tests.js
server/node_modules/safer-buffer/safer.js
server/node_modules/safer-buffer/Readme.md
server/node_modules/safer-buffer/Porting-Buffer.md
server/node_modules/safer-buffer/package.json
server/node_modules/safer-buffer/LICENSE
server/node_modules/safer-buffer/dangerous.js
server/node_modules/safe-buffer/README.md
server/node_modules/safe-buffer/package.json
server/node_modules/safe-buffer/LICENSE
server/node_modules/safe-buffer/index.js
server/node_modules/safe-buffer/index.d.ts
server/node_modules/readdirp/README.md
server/node_modules/readdirp/package.json
server/node_modules/readdirp/LICENSE
server/node_modules/readdirp/index.js
server/node_modules/readdirp/index.d.ts
server/node_modules/react/umd/react.profiling.min.js
server/node_modules/react/umd/react.production.min.js
server/node_modules/react/umd/react.development.js
server/node_modules/react/README.md
